* {
    box-sizing: border-box;
}

@media screen and (min-width: 720px) {
    .scroll-ele {
        width: 100%;
    }
}

.row {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    .row {
        flex-direction: row;
    }
}

.col-4 {
    width: 90%;
}

@media screen and (min-width: 720px) {
    .col-4 {
        width: 33%;
    }
}

.image {
    height: 300px!important;
    width: 90%;
}

@media screen and (min-width: 720px) {
    .image {
        height: 33vh;
    }
}