<div class="main">
    <div class="scroll-ele" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="3000"
        (scrolled)="onScroll()">
        <div class="divs" *ngFor="let dog of dogs">
            <img src="{{dog}}" alt="" class="image" />
        </div>
        <div class="divs" *ngFor="let cat of cats">
            <img src="{{cat}}" alt="" class="image" />
        </div>
        <div class="divs" *ngFor="let fo of fox">
            <img src="{{fo}}" alt="" class="image" />
        </div>
    </div>
</div>

<router-outlet></router-outlet>